 
  
.gantt_grid_data{
    display: none;
}
.gantt_grid_head_cell{
    display: none;
}
.gantt_grid_scale .gantt_grid_head_cell {
  
  
  
    display: none;
}
 
.gantt_task .gantt_task_scale .gantt_scale_cell {
    color: #44D7B6!important;
    background-color: #ECFBF8;
}






























   
