.gantBody{
    margin: 20px 330px;
    width: 70rem;
    border-radius: 50px;
    height: 40rem;
}
.gantt_grid_scale{
  background-color: #2898b0;
  color: white;
}
.gantt_task .gantt_task_scale .gantt_scale_cell{
  color: #778CA2;
}
.gantt_task_content {
    font-size: 12px;
    color: #778CA2;
    width: 100%;
    top: 0;
    background-color: white;
    cursor: pointer;
    position: absolute;
    white-space: nowrap;
    text-align: center;
}
.gantt_task_line {
    border-radius: 2px;
    position: absolute;
    box-sizing: border-box;
 background-color: white;
    border: 1px solid #2898b0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-select: -moz-none;
}
.Card{
  background-color: white;
  height: 80vh;
  width: 10vw;
  border-radius: 20px;
  font-size:large;
  text-align: center;
  align-content: center;
  margin-top: auto;
  margin: 25px 50px;
  
}
/* .gantt_grid_scale .gantt_grid_head_cell {
   
    display: none;
} */
.gantt_grid_data {
    width: 100%;
    overflow: hidden;
    position: relative;
    /* display: none; */
}
.gantt_grid_scale .gantt_grid_head_cell {
    display: none;
   
}
.nav{
  background-color: black;
  height: 3rem;
  color: white;
}
.cradsName{
font-size: x-large;
}
.gantSide{
    /* margin: 20px 250px; */
    width: 10rem;
    height: 50%;
    border-radius: 20px;
    background-color: white;
}
.header-top{
  background-color: red;
}
.timeLine-side-title{
  background-color: red;
}
html, body, #root,#root div:only-child, .gantt-container {
    height: 100%;
  }

.gantt-container {
    height: calc(100vh - 50px - 200px);
  }
.gantt_task_progress_drag{
    display: none;
  }

.gantt_task_cell{
  display: none;
}

.gantt_task_row{
  display: none;
}
.gantt_add{
  display: none;
}
/* .gantt_layout_cell{
  background-color: brown;
  height: 40rem;
} */
/* .gantt_grid_data{
  di
} */
.gant_headre{
  height: 35px;
  background-color: aquamarine;
}
.gantt_task_scale{
  background-color: blueviolet;
  height: 90px;
}
.gantt_task_content{
  background-color: white;
  color: gray;
}
.gantt_task_progress_drag{
  display: none;
  background-color: black;
}