body {
  background-color: #c4ccd5;
}
.gantt_task_content {
  color: #778ca2 !important;
}

.gantt_cell,
.gantt_cell_tree {
  width: 900px;
}
.gantt_grid_scale .gantt_grid_head_cell {
  display: none;
}
.gantt_tree_content {
  display: none;
}

.gantt_tree_icon,
.gantt_file {
  display: none;
}

.gantt_task_row {
  display: none;
}

.gantt_line_wrapper {
  display: none;
}

.gantt_add {
  display: none;
}

.weekend {
  background: #ecfbf8 !important;
  color: #44d7b6 !important;
  font-weight: 800 !important;
}

.gantt_task_progress_drag {
  display: none !important;
}
.greenBorder .gantt_task_progress {
  background-color: green !important;
}
.greenBorder {
  border-radius: 5px !important;
  border: green 3px solid !important;
}
.greenBorder:hover {
  border-left: green 9px solid !important;
  border-right: green 9px solid !important;
}
.pinkBorder {
  border-radius: 5px !important;
  border: pink 3px solid !important;
  background-color: white !important;
}
.pinkBorder:hover {
  border-left: pink 9px solid !important;
  border-right: pink 9px solid !important;
}
.pinkBorder .gantt_task_progress {
  background-color: pink !important;
}
.gantt_task_progress {
  background: red;
}
.txtAlign {
  text-align: right;
  /* background-color: yellow; */
}
.tt {
  background-color: black;
}
